---
# Deployment of our keptn-service-template-go
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keptn-service-template-go
  namespace: keptn
  labels:
    app.kubernetes.io/name: keptn-service-template-go
    app.kubernetes.io/instance: keptn
    app.kubernetes.io/part-of: keptn-keptn
    app.kubernetes.io/component: control-plane
    app.kubernetes.io/version: develop
spec:
  selector:
    matchLabels:
      run: keptn-service-template-go
  replicas: 1
  template:
    metadata:
      labels:
        run: keptn-service-template-go
        app.kubernetes.io/name: keptn-service-template-go
        app.kubernetes.io/instance: keptn
        app.kubernetes.io/part-of: keptn-keptn
        app.kubernetes.io/component: control-plane
        app.kubernetes.io/version: develop
    spec:
      containers:
        - name: keptn-service-template-go
          image: keptnsandbox/keptn-service-template-go:latest # Todo: Replace this with your image name
          ports:
            - containerPort: 8080
          env:
            - name: CONFIGURATION_SERVICE
              value: 'http://configuration-service:8080'
        - name: distributor
          image: keptn/distributor:0.10.0-next.2
          livenessProbe:
            httpGet:
              path: /health
              port: 10999
            initialDelaySeconds: 0
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 10999
            initialDelaySeconds: 5
            periodSeconds: 5
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "16Mi"
              cpu: "25m"
            limits:
              memory: "128Mi"
              cpu: "250m"
          env:
            - name: PUBSUB_URL
              value: 'nats://keptn-nats-cluster'
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.>'
            - name: PUBSUB_RECIPIENT
              value: '127.0.0.1'
            - name: VERSION
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: 'metadata.labels[''app.kubernetes.io/version'']'
            - name: K8S_DEPLOYMENT_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: 'metadata.labels[''app.kubernetes.io/name'']'
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: K8S_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
      serviceAccountName: keptn-default
---
# Expose keptn-service-template-go via Port 8080 within the cluster
apiVersion: v1
kind: Service
metadata:
  name: keptn-service-template-go
  namespace: keptn
  labels:
    run: keptn-service-template-go
spec:
  ports:
    - port: 8080
      protocol: TCP
  selector:
    run: keptn-service-template-go

